<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RW4">
  <link
    name="main_body">
    <inertial>
      <origin
        xyz="3.52921171578868E-05 -0.00216312490203524 0.0890254442745654"
        rpy="0 0 0" />
      <mass
        value="0.130717283971575" />
      <inertia
        ixx="0.000391314375445327"
        ixy="2.37904771275036E-09"
        ixz="-1.40338334547973E-06"
        iyy="0.000397927617700136"
        iyz="5.12680182172804E-06"
        izz="4.78679897738407E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/main_body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0980392156862745 0.0980392156862745 0.0980392156862745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/main_body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pitch">
    <inertial>
      <origin
        xyz="-0.0062444 9.1892E-09 1.1716E-09"
        rpy="0 0 0" />
      <mass
        value="0.0099209" />
      <inertia
        ixx="5.0248E-07"
        ixy="1.6054E-12"
        ixz="4.1991E-13"
        iyy="1.7362E-06"
        iyz="1.58E-12"
        izz="1.7362E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="0 -0.00250000000083725 0.1565"
      rpy="0.261799387799146 1.5707963267949 0" />
    <parent
      link="main_body" />
    <child
      link="pitch" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.69813"
      upper="-0.69813"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="yaw">
    <inertial>
      <origin
        xyz="-0.0062444 9.1892E-09 1.1716E-09"
        rpy="0 0 0" />
      <mass
        value="0.0099209" />
      <inertia
        ixx="5.0248E-07"
        ixy="1.6054E-12"
        ixz="4.1991E-13"
        iyy="1.7362E-06"
        iyz="1.58E-12"
        izz="1.7362E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yaw"
    type="revolute">
    <origin
      xyz="0 -0.00250000000083725 0.1565"
      rpy="0.261799387799146 1.5707963267949 0" />
    <parent
      link="main_body" />
    <child
      link="yaw" />
    <axis
      xyz="0 -0.705481279745001 0.708728554475799" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="roll">
    <inertial>
      <origin
        xyz="-0.0062444 9.1892E-09 1.1716E-09"
        rpy="0 0 0" />
      <mass
        value="0.0099209" />
      <inertia
        ixx="5.0248E-07"
        ixy="1.6054E-12"
        ixz="4.1991E-13"
        iyy="1.7362E-06"
        iyz="1.58E-12"
        izz="1.7362E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://RW4/meshes/roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roll"
    type="revolute">
    <origin
      xyz="0 -0.00250000000083725 0.1565"
      rpy="0.261799387799146 1.5707963267949 0" />
    <parent
      link="main_body" />
    <child
      link="roll" />
    <axis
      xyz="0 -0.708728554475797 -0.705481279745003" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>